@number-button-font-color:#60a609;
@radio-checked-icon-color:#60a609;
@checklist-icon-active-color:#60a609;
@switch-checked-bg-color:#60a609;
@tab-bar-active-color:#60a609;
@popup-background-color:#fff;
@tab-text-active-color:#60a609;